<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Yalieats</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon-32x32.png">
    </head>
    <body>
        <div class="header">
            <h1 class="title" style="font-size:100px"><a href="/main">Yalieats</a></h1>
            <i><h1 class="title"></h1>A New Way to Eat</i>
            <p></p>
            <ul class="ul">
                <li class="li"><a href="/about_us"><h3>About Us</h3></a></li>
                <li class="li"><a href="/your_account"><h3>Your Account</h3></a></li>
                <li class="li"><a href="/contact_us"><h3>Contact Us</h3></a></li>
                <li class="li"><a href="/logout"><h3>Log Out</h3></a></li>
            </ul>
        </div>
        <div class="about_us_main">
            <div class="restaurant_text">
                    <p style="font-size:45px">The Yalieats Story</p>
                    <p>It started with a dream for a better restaurant experience.</p>
                    <p>A dream for a better way to choose a place to eat</p>
                    <p>A dream for a better way to find the perfect place for the perfect scenario.</p>
                    <p>Yale student Marcus Lisman knew there had to be a solution.</p>
                    <p>The solution was Yalieats, a web application that had it all.</p>
                    <p>Reviews? Ability to search and filter restaurants? Will I find the perfect place?</p>
                    <p>Yes. Yep. Absolutely.</p>
                    <p>The reviews and options are powered by effective metrics that give you the information you need. We decided to create a new type of metric: The <i>Bang For Buck&trade;</i> rating. Hell yeah.</p>
                    <p>The Bang for Buck rating gives you a measure of how much good food you can get for the least amount of money using metrics like portion size, price, and how delicious the food is.</p>
                    <p>And the good news?</p>
                    <p>It's all powered by you.</p>
                    <p>You and your fellow Yalies will review restaurants that influence and change the review ratings you see in real time. You're constantly getting the best information so you can make the best decision on where to eat.</p>
                    <p>As more people review and use Yalieats, the ratings become even better. Community literally makes Yalieats shine.</p>
                    <p>Take the leap and change how Yalies fundamentally eat with Yalieats.</p>
                    <p>It's up to you.</p>
            </div>
        </div>
        <footer class="footer">
            &nbsp
            <p>
                Brought to you by: Lisman Watch Company LLC
            </p>
            <p>
                Copyright Marcus A. Lisman &copy; 2021
            </p>
            <p>
                <a target="_blank" href="https://www.lismanwatchcompany.com">Visit LWC's Website <i>Here!</i></a>
            </p>
            &nbsp
        </footer>
    </body>
</html>