<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href= "/static/styles.css" rel="stylesheet">
        <title>Yalieats</title>
    </head>
    <body>
        <div class="header">
            <h1 class="title" style="font-size:100px"><a href="/main">Yalieats</a></h1>
            <i><h1 class="title" style="font-size:20px"></h1>A New Way to Eat</p></i>
            <p></p>
            <ul class="ul">
                <li class="li"><a href="/about_us"><h3>About Us</h3></a></li>
                <li class="li"><a href="/your_account"><h3>Your Account</h3></a></li>
                <li class="li"><a href="/contact_us"><h3>Contact Us</h3></a></li>
                <li class="li"><a href="/logout"><h3>Log Out</h3></a></li>
            </ul>
        </div>

        <div class="register_main">
            <div class="before_main_text">
                <div class="register_error_button">
                    <h1 class="title" style="font-size:20px">Please enter an overall restaurant rating. Thank you!</h1>
                </div>
                <p></p>
                <a href="/write_a_review" target="_parent">
                    <button class="button">Back to Review Form</button>
                </a>
            </div>
        </div>

        <footer class="footer">
            &nbsp
            <p>
                Brought to you by: Lisman Watch Company LLC
            </p>
            <p>
                Copyright Marcus A. Lisman &copy; 2021
            </p>
            <p>
                <a target="_blank" href="https://www.lismanwatchcompany.com">Visit LWC's Website Here!</a>
            </p>
            &nbsp
        </footer>
    </body>
</html>