<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href= "/static/styles.css" rel="stylesheet">
        <title>Yalieats</title>
    </head>
    <body>
        <div class="header">
            <h1 class="title" style="font-size:100px"><a href="/before_main">Yalieats</a></h1>
            <i><h1 class="title" style="font-size:20px"></h1>A New Way to Eat</p></i>
            <p></p>
        </div>
        
        <div class="register_main">
            <div class="before_main_text">
                <div>
                    <form action="/register" method="post">
                        <div class="form_format"> 
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="first_name" name="first_name" placeholder="First Name" type="text">
                        </div>
                        <div class="form_format">
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="last_name" name="last_name" placeholder="Last Name" type="text">
                        </div>
                        <div class="form_format">
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email_address" name="email_address" placeholder="Email Address" type="text">
                        </div>
                        <div class="form_format">
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
                        </div>
                        <div class="form_format">
                            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
                        </div>
                        <div class="form_format">
                            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
                        </div>
                        <button class="register_login_button" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>

        <footer class="footer">
            &nbsp
            <p>
                Brought to you by: Lisman Watch Company LLC
            </p>
            <p>
                Copyright Marcus A. Lisman &copy; 2021
            </p>
            <p>
                <a target="_blank" href="https://www.lismanwatchcompany.com">Visit LWC's Website Here!</a>
            </p>
            &nbsp
        </footer>
    </body>
</html>