<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Yalieats</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon-32x32.png">
    </head>
    <body>
        <div class="header">
            <h1 class="title" style="font-size:100px"><a href="/main">Yalieats</a></h1>
            <i><h1 class="title"></h1>A New Way to Eat</i>
            <p></p>
            <ul class="ul">
                <li class="li"><a href="/about_us"><h3>About Us</h3></a></li>
                <li class="li"><a href="/your_account"><h3>Your Account</h3></a></li>
                <li class="li"><a href="/contact_us"><h3>Contact Us</h3></a></li>
                <li class="li"><a href="/logout"><h3>Log Out</h3></a></li>
            </ul>
        </div>

        <div class="results_main">
            <div class="history_text">

             <p>Please enter the ID of the restaurant you want the name of.</p>
                <!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Yalieats</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon-32x32.png">
    </head>
    <body>
        <div class="header">
            <h1 class="title" style="font-size:100px"><a href="/main">Yalieats</a></h1>
            <i><h1 class="title"></h1>A New Way to Eat</i>
            <p></p>
            <ul>
                <li><a href="/about_us"><h3>About Us</h3></a></li>
                <li><a href="/your_account"><h3>Your Account</h3></a></li>
                <li><a href="/contact_us"><h3>Contact Us</h3></a></li>
                <li><a href="/logout"><h3>Log Out</h3></a></li>
            </ul>
        </div>

        <div class="results_main">
            <div class="history_text">

             <p>You currently have no reviews. Make sure to leave one the next time you go to eat!</p>

            </div>
        </div>

        <footer class="footer">
            &nbsp
            <p>
                Brought to you by: Lisman Watch Company LLC
            </p>
            <p>
                Copyright Marcus A. Lisman &copy; 2021
            </p>
            <p>
                <a target="_blank" href="https://www.lismanwatchcompany.com">Visit LWC's Website <i>Here!</i></a>
            </p>
            &nbsp
        </footer>
    </body>
</html>
        </div>

        <footer class="footer">
            &nbsp
            <p>
                Brought to you by: Lisman Watch Company LLC
            </p>
            <p>
                Copyright Marcus A. Lisman &copy; 2021
            </p>
            <p>
                <a target="_blank" href="https://www.lismanwatchcompany.com">Visit LWC's Website <i>Here!</i></a>
            </p>
            &nbsp
        </footer>
    </body>
</html>